src/main/resources/META-INF/resources/schemas/spreadsheet.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns="http://com.company/spreadsheet.xsd"
           elementFormDefault="qualified"
           targetNamespace="http://com.company/spreadsheet.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:layout="http://jmix.io/schema/flowui/layout">

    <xs:element name="spreadsheet">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="layout:baseComponent">
                    <xs:attributeGroup ref="layout:hasSize"/>
                    <xs:attribute name="dataContainer" type="xs:string"/>
                    <xs:attribute name="dataLoader" type="xs:string"/>
                    <xs:attribute name="data-loader" type="xs:string"/>
                    <xs:attribute name="readOnly" type="xs:boolean"/>
                    <xs:attribute name="read-only" type="xs:boolean"/>
                    <xs:attribute name="navigationGridVisible" type="xs:boolean"/>
                    <xs:attribute name="navigation-grid-visible" type="xs:boolean"/>
                    <xs:attribute name="autoRefreshViewport" type="xs:boolean"/>
                    <xs:attribute name="auto-refresh-viewport" type="xs:boolean"/>
                    <xs:attribute name="autoResize" type="xs:boolean"/>
                    <xs:attribute name="auto-resize" type="xs:boolean"/>
                    <xs:attribute name="headerStyle" type="xs:string"/>
                    <xs:attribute name="header-style" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
</xs:schema>
